/*
IMPORTS
 */
/* purgecss start ignore */
@tailwind base;

@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/*
FONTS
 */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/eot/JetBrainsMono-Regular.eot') format('embedded-opentype'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff/JetBrainsMono-Regular.woff') format('woff'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    @apply text-gray-700;
    -webkit-font-feature-settings: "liga" on, "calt" on;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'JetBrains Mono';
    line-height: 1.33rem;
}

/*
BASE
 */
body {
    @apply flex justify-center;
}

#app {
    max-width: 320px;


    @media screen and (max-width: 320px) {
        @apply block px-4;
        clear: both;
    }
}

a {
    @apply transition-colors duration-100 ease-in text-blue-500;

    &:hover {
        @apply text-blue-700;
    }
}

::-webkit-scrollbar {
    display: none;
}


/*
BOXES
 */
.box {
    @apply relative flex flex-col break-words bg-white border-4 border-indigo-400 rounded-lg shadow-md;

    & .box-header {
        @apply font-bold bg-indigo-400 text-white p-3 mb-0 select-none;
    }

    & .box-inside {
        @apply w-full py-6 px-3;
    }
}

/*
FORMS
 */
.form-field {
    @apply flex flex-wrap mb-6;

    & label {
        @apply block text-gray-800 text-sm font-bold mb-2;
    }

    & input[type="text"], input[type="email"], input[type="password"] {
        @apply w-full;
    }

    & textarea.error, input.error {
        @apply border-red-400;
    }

    & p {
        @apply text-red-400 text-xs italic mt-2;
    }
}

/*
BUTTONS
 */
a.button {
    &:hover {
        @apply text-white;
    }
}

.button {
    @apply transition-colors duration-100 inline-block align-middle text-center select-none border font-bold whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-gray-100 bg-blue-400;

    &:hover {
        @apply bg-blue-800;
    }

    &.green {
        @apply bg-green-400;

        &:hover {
            @apply bg-green-800;
        }
    }

    &.red {
        @apply bg-red-400;

        &:hover {
            @apply bg-red-800;
        }
    }

    &.input-action {
        @apply rounded-t-none border-none;

        &.left {
            @apply rounded-br-none;
        }

        &.right {
            @apply rounded-bl-none;
        }
    }
}

/*
ALERTS
 */
.alert {
    @apply text-sm border-4 rounded px-6 py-4 mb-6 select-none cursor-pointer;

    &.success {
        @apply text-green-600 border-green-400 bg-green-100;
    }

    &.error {
        @apply text-red-600 bg-red-100 border-red-400;
    }
}


/**
LINKS
 */
.link {
    @apply relative mb-6 px-3 py-3 rounded-lg text-lg truncate z-50 bg-cover flex items-center cursor-pointer border border-indigo-800;

    & span {
        @apply z-50 text-white truncate;
    }

    & svg {
        fill: #3c366b;
        top: -1px;
        @apply relative block w-4 h-4 mr-3;
    }

    &:after {
        content: '';
        @apply absolute left-0 top-0 block w-full h-full bg-indigo-600 opacity-50;
    }
}

/**
HOMEPAGE
 */

.logo {
    animation-name: bounce;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.shadow {
    position: relative;
    width: 120px;
    border-radius: 80%;
    animation-name: shadow;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes shadow {
    from {
        width: 33%;
        height: 1rem;
        opacity: 0.5;
    }
    to {
        width: 66%;
        height: 0.75rem;
        opacity: 0.65;
    }
}

@keyframes bounce {
    from {
        top: -15px;
    }
    to {
        top: 0px;
    }
}

/**
PRIVACY
 */
.privacy {
    h3 {
        @apply font-bold;
    }

    p {
        @apply text-sm;
    }
}

